<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.zxing">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.touchscreen"/>

    <application>
        <activity
            android:name="com.hzy.zxing.ui.CaptureActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
